@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
    <link rel="stylesheet" href="~/css/account/login.css" asp-append-version="true" />
}

<div class="page-container">
    <div class="form-box">
        <form class="form" id="account" method="post">
            <h1>@ViewData["Title"]</h1>

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <input asp-for="Input.Email" class="input-field" autocomplete="username" placeholder="Email" aria-required="true" />
            <span asp-validation-for="Input.Email" class="text-danger"></span>

            <input asp-for="Input.Password" class="input-field" autocomplete="current-password" placeholder="Password" aria-required="true" />
            <span asp-validation-for="Input.Password" class="text-danger"></span>

            <div class="checkbox-group">
                <input class="checkbox" asp-for="Input.RememberMe" />
                <span class="checkbox-span">@Html.DisplayNameFor(m => m.Input.RememberMe)</span>
            </div>

            <button id="login-submit" type="submit" class="submit-button">Log in</button>
            <div>
                @* <p>
                    <a id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
                </p>
                <p>
                    <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
                </p>
                <p>
                    <a id="resend-confirmation" asp-page="./ResendEmailConfirmation">Resend email confirmation</a>
                </p> *@
            </div>
        </form>
    </div>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
