@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
    <link rel="stylesheet" href="~/css/account/register_login.css" asp-append-version="true" />

}


<div class="page-container">
    <div class="form-box">
        <form class="form" id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <h1>@ViewData["Title"]</h1>

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
            <input asp-for="Input.Email" class="input-field" autocomplete="email" placeholder="Email" aria-required="true" />
            <span asp-validation-for="Input.Email" class="text-danger"></span>
           
            <input asp-for="Input.Username" class="input-field" autocomplete="username" placeholder="Username" aria-required="true" />
            <span asp-validation-for="Input.Username" class="text-danger"></span>
           
            <input asp-for="Input.Password" class="input-field" autocomplete="new-password" placeholder="Password" aria-required="true" />
            <span asp-validation-for="Input.Password" class="text-danger"></span>
           
            <input asp-for="Input.ConfirmPassword" class="input-field" autocomplete="new-password" placeholder="Confirm Password" aria-required="true" />
            <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            
            <button id="registerSubmit" type="submit" class="submit-button">Register</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
