@page "{offerId}"
@model SUDO.Pages.CreateOpineModel
@{
    ViewData["Title"] = "CreateOpine";
}
<div>
    @if(@Model.Offer.Arrival > DateTime.Now) {
        <p>This trip hasn't finished yet. Post your opinion after the trip.</p>
    }
    @if(@Model.Offer.Arrival <= DateTime.Now) {
    <h1 class="display-4">Create an Opine</h1>
    <form method="post">

        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="form-floating">
            <input asp-for="Opine.DrivingRating" class="form-control" placeholder="DrivingRating" />
            <label class="text-muted" for="Stops ">DrivingRating</label>
        </div>
        <div class="form-floating">
            <input asp-for="Opine.ProprietyRating" class="form-control" placeholder="ProprietyRating" />
            <label class="text-muted" for="Stops ">ProprietyRating</label>
        </div>
        <div class="form-floating">
            <input asp-for="Opine.PunctualityRating" class="form-control" placeholder="PunctualityRating" />
            <label class="text-muted" for="Stops ">PunctualityRating</label>
        </div>
        <div class="form-floating">
            <input asp-for="Opine.Comment" class="form-control" placeholder="Comment" />
            <label class="text-muted" for="Stops ">Comment</label>
        </div>
        <button type="submit" class="btn btn-primary">submit</button>
    </form>
    }
</div>